/* NAV */
.nav-link:hover{
    border-bottom: 3px solid rgba(0, 137, 110, 0.867);
}

#buttonsearch:hover{
    background-color: rgba(252, 87, 46, 0.796);
}

#dropdownhover:hover{
    background-color: rgba(174, 214, 190, 0.637);
}

#logo{
    margin-bottom: 9px;
}

li{
    display: inline; 
    list-style-type: none;
}

#buttonforms:hover{
    border-bottom: 3px solid rgba(0, 137, 110, 0.867);
}

/* NAV */

body{
    overflow-x: hidden;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#headerimage{
    height: 70vh;
}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(75, 190, 92, 0.251)), url(/images/85.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}

#divider1{
    height: 73vh;
    background-repeat: no-repeat;
    margin-top: -390px;
    margin-left: -20px;
    margin-right: -10px;
}

#divider2{
    height: 60vh;
    background-repeat: no-repeat;
    margin-top: -310px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -70px;
}

.bg-overlay2 {
    background: linear-gradient(rgba(0,0,0,.7), rgba(75, 190, 92, 0.251)), url(/images/86.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 300px;
    padding-top: 10px;
}

/* FOOTER */
.footer{
    position: fixed;
    display: inline-block;
    align-items:center;
}

.footer-btn{
    background-color: green;
    padding: 10px;
    width: 200px;
}

#customcolor{
    background-color: rgb(246, 187, 133);
    color: rgb(63, 63, 63);
}

.footer-input{
    padding: 10px;
    width: 255px;
    background-color:  rgba(250, 255, 253, 0.893);
    border: none;
    height: 55px;
}

.footer-ig-link{
    text-decoration: none;
}
/* FOOTER */

.quicklinks:hover{
    color:rgb(247, 107, 32)!important;
}