body{
    background-image: url("../images/167.png");
    height: 100vh;
}

/* div.shipping{
    margin: 0;
    padding: 0;
} */


.btn{
    transition: transform .2s;
    border-radius: 10px;
}

.btn:hover{
    transform:scale(1.1);
}

#shipping{
    transition: transform .2s;
    border-radius: 1px;
}

#shipping:hover{
    transform:scale(1.05);
}

.accordion-button:after {
    display: none;
   }
