/* NAV */
.nav-link:hover{
    border-bottom: 3px solid rgba(0, 137, 110, 0.867);
}

#buttonsearch:hover{
    background-color: rgba(252, 87, 46, 0.796);
}

#dropdownhover:hover{
    background-color: rgba(174, 214, 190, 0.637);
}

#logo{
    margin-bottom: 9px;
}

li{
    display: inline; 
    list-style-type: none;
}

#buttonforms:hover{
    border-bottom: 3px solid rgba(0, 137, 110, 0.867);
}

/* NAV */

/* body{
    background-image: url("/MP1/images/167.png");
    background-repeat: no-repeat;
    height: auto;
} */

body{
    background-image: url("/MP1/images/167.png");
    height: 100vh;
}

/* FOOTER */
.footer{
    position: fixed;
    display: inline-block;
    align-items:center;
}

.footer-btn{
    background-color: green;
    padding: 10px;
    width: 200px;
}

#customcolor{
    background-color: rgb(246, 187, 133);
    color: rgb(63, 63, 63);
}

.footer-input{
    padding: 10px;
    width: 255px;
    background-color:  rgba(250, 255, 253, 0.893);
    border: none;
    height: 55px;
}

.footer-ig-link{
    text-decoration: none;
}
/* FOOTER */